<footer class="t-hackcss-footer">
  <hr />

  <h3 class="footer-heading">{{ site.title }}</h3>

  <div class="grid t-hackcss-sm-reversed-grid">

    <div class="cell -5of12">
      <div class="contact-list">
        <p>
          {{ site.your_name }},
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>

        {% for social in site.social %}
          {% assign template = social.service|prepend:"icon-"|append:".html" %}
          <span class="t-hackcss-social">
            <i class="t-hackcss-icon">{% include {{ template }} %}</i>
            <a href="{{ social.link }}">{{ social.username }}</a>
          </span>
        {% endfor %}
      </div>
    </div>

    <div id="footer-spacer" class="cell -1of12"></div>

    <div class="cell -6of12">
      <p>{{ site.description }}</p>
    </div>
  </div>

</footer>

<!-- hack.css -->
<link rel="stylesheet" href="https://npmcdn.com/hack/dist/hack.css" />
{% if site.theme_mode == 'standard' %}
<link rel="stylesheet" href="https://npmcdn.com/hack/dist/standard.css" />
{% elsif site.theme_mode == 'dark' %}
<link rel="stylesheet" href="https://npmcdn.com/hack/dist/dark.css" />
{% endif %}

<!-- Prism.js -->
<link rel="stylesheet" href="https://npmcdn.com/prismjs@1.5.1/themes/prism.css" />

<!-- Custom style -->
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
